<!DOCTYPE html>
<html lang="en" dir="ltr" class="client-nojs">
<head>
<meta charset="UTF-8"/>
<title>Template:Conspiracynav - RationalWiki</title>
<script>document.documentElement.className = document.documentElement.className.replace( /(^|\s)client-nojs(\s|$)/, "$1client-js$2" );</script>
<script>(window.RLQ=window.RLQ||[]).push(function(){mw.config.set({"wgCanonicalNamespace":"Template","wgCanonicalSpecialPageName":false,"wgNamespaceNumber":10,"wgPageName":"Template:Conspiracynav","wgTitle":"Conspiracynav","wgCurRevisionId":2058099,"wgRevisionId":2058099,"wgArticleId":103221,"wgIsArticle":true,"wgIsRedirect":false,"wgAction":"view","wgUserName":null,"wgUserGroups":["*"],"wgCategories":["Sidebar navigation templates"],"wgBreakFrames":false,"wgPageContentLanguage":"en","wgPageContentModel":"wikitext","wgSeparatorTransformTable":["",""],"wgDigitTransformTable":["",""],"wgDefaultDateFormat":"dmy","wgMonthNames":["","January","February","March","April","May","June","July","August","September","October","November","December"],"wgMonthNamesShort":["","Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"],"wgRelevantPageName":"Template:Conspiracynav","wgRelevantArticleId":103221,"wgRequestId":"5ec802567e9bc7be02acc875","wgIsProbablyEditable":false,"wgRestrictionEdit":[],"wgRestrictionMove":[],"wgWikiEditorEnabledModules":{"toolbar":true,"dialogs":true,"preview":false,"publish":false}});mw.loader.implement("user.options",function($,jQuery,require,module){mw.user.options.set({"variant":"en"});});mw.loader.implement("user.tokens",function ( $, jQuery, require, module ) {
mw.user.tokens.set({"editToken":"+\\","patrolToken":"+\\","watchToken":"+\\","csrfToken":"+\\"});/*@nomin*/;

});mw.loader.load(["mediawiki.page.startup","skins.vector.js"]);});</script>
<link rel="stylesheet" href="https://rationalwiki.org/w/load.php?debug=false&amp;lang=en&amp;modules=ext.gadget.ReferenceTooltips%7Cmediawiki.legacy.commonPrint%2Cshared%7Cmediawiki.sectionAnchor%7Cmediawiki.skinning.interface%7Cskins.vector.styles&amp;only=styles&amp;skin=vector"/>
<meta name="ResourceLoaderDynamicStyles" content=""/>
<link rel="stylesheet" href="https://rationalwiki.org/w/load.php?debug=false&amp;lang=en&amp;modules=site&amp;only=styles&amp;skin=vector"/>
<script async="" src="https://rationalwiki.org/w/load.php?debug=false&amp;lang=en&amp;modules=startup&amp;only=scripts&amp;skin=vector"></script>
<meta name="generator" content="MediaWiki 1.27.7"/>
<link rel="shortcut icon" href="https://rationalwiki.org/favicon.ico"/>
<link rel="search" type="application/opensearchdescription+xml" href="https://rationalwiki.org/w/opensearch_desc.php" title="RationalWiki (en)"/>
<link rel="EditURI" type="application/rsd+xml" href="https://rationalwiki.org/w/api.php?action=rsd"/>
<link rel="copyright" href="https://rationalwiki.org/wiki/RationalWiki:Copyrights"/>
<link rel="alternate" type="application/atom+xml" title="RationalWiki Atom feed" href="https://rationalwiki.org/w/index.php?title=Special:RecentChanges&amp;feed=atom"/>
</head>
<body class="mediawiki ltr sitedir-ltr ns-10 ns-subject page-Template_Conspiracynav rootpage-Template_Conspiracynav skin-vector action-view">
		<div id="mw-page-base" class="noprint"></div>
		<div id="mw-head-base" class="noprint"></div>
		<div id="content" class="mw-body" role="main">
			<a id="top"></a>

						<div class="mw-indicators">
</div>
			<h1 id="firstHeading" class="firstHeading" lang="en">Template:Conspiracynav</h1>
									<div id="bodyContent" class="mw-body-content">
									<div id="siteSub">From RationalWiki</div>
								<div id="contentSub"></div>
												<div id="jump-to-nav" class="mw-jump">
					Jump to:					<a href="Template%253AConspiracynav.html#mw-head">navigation</a>, 					<a href="Template%253AConspiracynav.html#p-search">search</a>
				</div>
				<div id="mw-content-text" lang="en" dir="ltr" class="mw-content-ltr"><table class="infobox" cellpadding="1" cellspacing="0" style="float: right; margin: 0 0 0.5em 0.5em; text-align:left; border: 1px solid #ff6600; width:175px;">
<tr>
<td style="font-size: 95%; text-align:center; color:White; background-color:#ff6600"> <b>Some dare call it</b><br /><a href="Conspiracy_theory.html" title="Conspiracy theory"><font size="4" color="White"><b>Conspiracy</b></font></a>
</td></tr>
<tr>
<td style="background-color:#ffe6d5;" align="center"><a href="https://rationalwiki.org/wiki/File:Icon_conspiracy.svg" class="image" title="link=:category:{{{category}}}"><img alt="link=:category:{{{category}}}" src="https://rationalwiki.org/w/images/thumb/5/58/Icon_conspiracy.svg/100px-Icon_conspiracy.svg.png" width="100" height="100" srcset="https://rationalwiki.org/w/images/thumb/5/58/Icon_conspiracy.svg/150px-Icon_conspiracy.svg.png 1.5x, https://rationalwiki.org/w/images/thumb/5/58/Icon_conspiracy.svg/200px-Icon_conspiracy.svg.png 2x" /></a>
</td></tr>

<tr>
<td style="font-size: 95%; color:White; background-color:#ff6600; text-align:center;"><b>What <i>THEY</i> don't want<br />you to know!</b>
</td></tr>
<tr>
<td style="font-size: 95%; background-color:#ffe6d5;">
<ul><li><a href="https://rationalwiki.org/wiki/2012_Benghazi_attack" title="2012 Benghazi attack">2012 Benghazi attack</a></li>
<li><a href="https://rationalwiki.org/wiki/Korean_Air_Lines_Flight_007" title="Korean Air Lines Flight 007">Korean Air Lines Flight 007</a></li>
<li><a href="https://rationalwiki.org/wiki/Malcolm_X" title="Malcolm X">Malcolm X</a></li>
<li><a href="https://rationalwiki.org/wiki/Mary_Celeste" title="Mary Celeste">Mary Celeste</a></li>
<li><a href="https://rationalwiki.org/wiki/Nationalism_in_history_textbooks" title="Nationalism in history textbooks">Nationalism in history textbooks</a></li>
<li><a href="https://rationalwiki.org/wiki/Nuclear_energy_denial" title="Nuclear energy denial">Nuclear energy denial</a></li>
<li><a href="https://rationalwiki.org/wiki/Number_of_the_Beast" title="Number of the Beast">Number of the Beast</a></li>
<li><a href="https://rationalwiki.org/wiki/Organ_theft" title="Organ theft">Organ theft</a></li>
<li><a href="https://rationalwiki.org/wiki/Toxoplasma_gondii" title="Toxoplasma gondii">Toxoplasma gondii</a></li></ul>
</td></tr>
<tr>
<td style="font-size: 95%; color:White; background-color:#ff6600; text-align:center;"><b><a href="https://rationalwiki.org/wiki/Sheeple" title="Sheeple"><span style="color:white">Sheeple</span></a> wakers</b>
</td></tr>
<tr>
<td style="font-size: 95%; background-color:#ffe6d5;">
<ul><li><a href="https://rationalwiki.org/wiki/John_Yiamouyiannis" title="John Yiamouyiannis">John Yiamouyiannis</a></li>
<li><a href="https://rationalwiki.org/wiki/Jovan_I._Dereti%C4%87" title="Jovan I. Deretić">Jovan I. Deretić</a></li>
<li><a href="Kacper_Postawski.html" title="Kacper Postawski">Kacper Postawski</a></li>
<li><a href="https://rationalwiki.org/wiki/L._Fletcher_Prouty" title="L. Fletcher Prouty">L. Fletcher Prouty</a></li>
<li><a href="https://rationalwiki.org/wiki/Lauren_Southern" title="Lauren Southern">Lauren Southern</a></li>
<li><a href="https://rationalwiki.org/wiki/Otis_T._Carr" title="Otis T. Carr">Otis T. Carr</a></li>
<li><a href="https://rationalwiki.org/wiki/Paul_Joseph_Watson" title="Paul Joseph Watson">Paul Joseph Watson</a></li>
<li><a href="https://rationalwiki.org/wiki/Sean_Last" title="Sean Last">Sean Last</a></li>
<li><a href="https://rationalwiki.org/wiki/Ted_Cruz" title="Ted Cruz">Ted Cruz</a></li></ul>
<div class="vte plainlinks" style="font-size:smaller; text-align:center;"><strong class="selflink">v</strong> - <a href="Template_talk%253AConspiracynav.html" title="Template talk:Conspiracynav">t</a> - <a rel="nofollow" class="external text" href="../w/index.php@title=Template%253AConspiracynav&amp;action=edit.html">e</a></div>
</td></tr></table>

<!-- 
NewPP limit report
Parsed by apache4
Cached time: 20200522171552
Cache expiry: 86400
Dynamic content: false
CPU time usage: 0.020 seconds
Real time usage: 0.039 seconds
Preprocessor visited node count: 132/1000000
Preprocessor generated node count: 730/1000000
Post‐expand include size: 3682/2097152 bytes
Template argument size: 1596/2097152 bytes
Highest expansion depth: 6/40
Expensive parser function count: 0/100
-->

<!-- 
Transclusion expansion time report (%,ms,calls,template)
100.00%   29.233      1 - Template:Navsidebar
100.00%   29.233      1 - -total
 51.80%   15.144      2 - Template:Randomarticles
 41.74%   12.202      1 - Template:Navsidebar2
 10.74%    3.139      1 - Template:Vte
  5.61%    1.641      2 - Template:Extension_DPL
-->

<!-- Saved in parser cache with key rationalwiki:pcache:idhash:103221-0!*!*!*!*!*!* and timestamp 20200522171552 and revision id 2058099
 -->
</div>					<div class="printfooter">
						Retrieved from "<a dir="ltr" href="https://rationalwiki.org/w/index.php?title=Template:Conspiracynav&amp;oldid=2058099">https://rationalwiki.org/w/index.php?title=Template:Conspiracynav&amp;oldid=2058099</a>"					</div>
				<div id="catlinks" class="catlinks" data-mw="interface"><div id="mw-normal-catlinks" class="mw-normal-catlinks"><a href="https://rationalwiki.org/wiki/Special:Categories" title="Special:Categories">Category</a>: <ul><li><a href="https://rationalwiki.org/wiki/Category:Sidebar_navigation_templates" title="Category:Sidebar navigation templates">Sidebar navigation templates</a></li></ul></div></div>				<div class="visualClear"></div>
							</div>
		</div>
		<div id="mw-navigation">
			<h2>Navigation menu</h2>

			<div id="mw-head">
									<div id="p-personal" role="navigation" class="" aria-labelledby="p-personal-label">
						<h3 id="p-personal-label">Personal tools</h3>
						<ul>
							<li id="pt-anonuserpage">Not logged in</li><li id="pt-anontalk"><a href="https://rationalwiki.org/wiki/Special:MyTalk" title="Discussion about edits from this IP address [n]" accesskey="n">Talk</a></li><li id="pt-anoncontribs"><a href="https://rationalwiki.org/wiki/Special:MyContributions" title="A list of edits made from this IP address [y]" accesskey="y">Contributions</a></li><li id="pt-createaccount"><a href="https://rationalwiki.org/w/index.php?title=Special:CreateAccount&amp;returnto=Template%3AConspiracynav" title="You are encouraged to create an account and log in; however, it is not mandatory">Create account</a></li><li id="pt-login"><a href="https://rationalwiki.org/w/index.php?title=Special:UserLogin&amp;returnto=Template%3AConspiracynav" title="You are encouraged to log in; however, it is not mandatory [o]" accesskey="o">Log in</a></li>						</ul>
					</div>
									<div id="left-navigation">
										<div id="p-namespaces" role="navigation" class="vectorTabs" aria-labelledby="p-namespaces-label">
						<h3 id="p-namespaces-label">Namespaces</h3>
						<ul>
															<li  id="ca-nstab-template" class="selected"><span><a href="Template%253AConspiracynav.html"  title="View the template [c]" accesskey="c">Template</a></span></li>
															<li  id="ca-talk"><span><a href="Template_talk%253AConspiracynav.html"  title="Discussion about the content page [t]" accesskey="t" rel="discussion">Talk</a></span></li>
													</ul>
					</div>
										<div id="p-variants" role="navigation" class="vectorMenu emptyPortlet" aria-labelledby="p-variants-label">
												<h3 id="p-variants-label">
							<span>Variants</span><a href="Template%253AConspiracynav.html#"></a>
						</h3>

						<div class="menu">
							<ul>
															</ul>
						</div>
					</div>
									</div>
				<div id="right-navigation">
										<div id="p-views" role="navigation" class="vectorTabs" aria-labelledby="p-views-label">
						<h3 id="p-views-label">Views</h3>
						<ul>
															<li id="ca-view" class="selected"><span><a href="Template%253AConspiracynav.html" >Read</a></span></li>
															<li id="ca-viewsource"><span><a href="../w/index.php@title=Template%253AConspiracynav&amp;action=edit.html"  title="This page is protected.&#10;You can view its source [e]" accesskey="e">View source</a></span></li>
															<li id="ca-history" class="collapsible"><span><a href="https://rationalwiki.org/w/index.php?title=Template:Conspiracynav&amp;action=history"  title="Past revisions of this page [h]" accesskey="h">Fossil record</a></span></li>
													</ul>
					</div>
										<div id="p-cactions" role="navigation" class="vectorMenu emptyPortlet" aria-labelledby="p-cactions-label">
						<h3 id="p-cactions-label"><span>More</span><a href="Template%253AConspiracynav.html#"></a></h3>

						<div class="menu">
							<ul>
															</ul>
						</div>
					</div>
										<div id="p-search" role="search">
						<h3>
							<label for="searchInput">Search</label>
						</h3>

						<form action="https://rationalwiki.org/w/index.php" id="searchform">
							<div id="simpleSearch">
							<input type="search" name="search" placeholder="Search" title="Search RationalWiki [f]" accesskey="f" id="searchInput"/><input type="hidden" value="Special:Search" name="title"/><input type="submit" name="fulltext" value="Search" title="Search the pages for this text" id="mw-searchButton" class="searchButton mw-fallbackSearchButton"/><input type="submit" name="go" value="Go" title="Go to a page with this exact name if it exists" id="searchButton" class="searchButton"/>							</div>
						</form>
					</div>
									</div>
			</div>
			<div id="mw-panel">
				<div id="p-logo" role="banner"><a class="mw-wiki-logo" href="https://rationalwiki.org/wiki/Main_Page"  title="Visit the main page"></a></div>
						<div class="portal" role="navigation" id='p-navigation' aria-labelledby='p-navigation-label'>
			<h3 id='p-navigation-label'>Navigation</h3>

			<div class="body">
									<ul>
						<li id="n-mainpage-description"><a href="https://rationalwiki.org/wiki/Main_Page" title="Visit the main page [z]" accesskey="z">Main page</a></li><li id="n-recentchanges"><a href="https://rationalwiki.org/wiki/Special:RecentChanges" title="A list of recent changes in the wiki [r]" accesskey="r">Recent changes</a></li><li id="n-randompage"><a href="https://rationalwiki.org/wiki/Special:Random" title="Load a random mainspace article [x]" accesskey="x">Random page</a></li><li id="n-New-pages"><a href="https://rationalwiki.org/wiki/Special:NewPages">New pages</a></li><li id="n-All-logs"><a href="https://rationalwiki.org/wiki/Special:Log">All logs</a></li><li id="n-help"><a href="https://rationalwiki.org/wiki/Help:Contents" title="RTFM">Help</a></li>					</ul>
							</div>
		</div>
			<div class="portal" role="navigation" id='p-support' aria-labelledby='p-support-label'>
			<h3 id='p-support-label'>Support</h3>

			<div class="body">
									<ul>
						<li id="n-Donate"><a href="https://rationalwiki.org/wiki/RationalWiki:Site_support">Donate</a></li>					</ul>
							</div>
		</div>
			<div class="portal" role="navigation" id='p-community' aria-labelledby='p-community-label'>
			<h3 id='p-community-label'>Community</h3>

			<div class="body">
									<ul>
						<li id="n-Saloon-bar"><a href="https://rationalwiki.org/wiki/RationalWiki:Saloon_bar">Saloon bar</a></li><li id="n-To-do-list"><a href="https://rationalwiki.org/wiki/RationalWiki:To_do_list">To do list</a></li><li id="n-What-is-going-on.3F"><a href="https://rationalwiki.org/wiki/WIGO">What is going on?</a></li><li id="n-Best-of-RationalWiki"><a href="https://rationalwiki.org/wiki/RationalWiki:Contents">Best of RationalWiki</a></li><li id="n-About-RationalWiki"><a href="https://rationalwiki.org/wiki/RationalWiki">About RationalWiki</a></li><li id="n-Technical-support"><a href="https://rationalwiki.org/wiki/RationalWiki:Technical_support">Technical support</a></li><li id="n-Mod-noticeboard"><a href="https://rationalwiki.org/wiki/RationalWiki_talk:All_things_in_moderation">Mod noticeboard</a></li>					</ul>
							</div>
		</div>
			<div class="portal" role="navigation" id='p-Social_media' aria-labelledby='p-Social_media-label'>
			<h3 id='p-Social_media-label'>Social media</h3>

			<div class="body">
									<ul>
						<li id="n-Twitter"><a href="https://twitter.com/RationalWiki" rel="nofollow">Twitter</a></li><li id="n-Facebook"><a href="https://www.facebook.com/pages/Rationalwiki/226614404019306" rel="nofollow">Facebook</a></li><li id="n-Discord"><a href="https://rationalwiki.org/wiki/RationalWiki:Discord">Discord</a></li><li id="n-Reddit"><a href="https://rationalwiki.org/wiki/RationalWiki:Reddit">Reddit</a></li>					</ul>
							</div>
		</div>
			<div class="portal" role="navigation" id='p-tb' aria-labelledby='p-tb-label'>
			<h3 id='p-tb-label'>Tools</h3>

			<div class="body">
									<ul>
						<li id="t-whatlinkshere"><a href="https://rationalwiki.org/wiki/Special:WhatLinksHere/Template:Conspiracynav" title="A list of all wiki pages that link here [j]" accesskey="j">What links here</a></li><li id="t-recentchangeslinked"><a href="https://rationalwiki.org/wiki/Special:RecentChangesLinked/Template:Conspiracynav" title="Recent changes in pages linked from this page [k]" accesskey="k">Related changes</a></li><li id="t-specialpages"><a href="https://rationalwiki.org/wiki/Special:SpecialPages" title="A list of all special pages [q]" accesskey="q">Special pages</a></li><li id="t-print"><a href="https://rationalwiki.org/w/index.php?title=Template:Conspiracynav&amp;printable=yes" rel="alternate" title="Printable version of this page [p]" accesskey="p">Printable version</a></li><li id="t-permalink"><a href="https://rationalwiki.org/w/index.php?title=Template:Conspiracynav&amp;oldid=2058099" title="Permanent link to this revision of the page">Permanent link</a></li><li id="t-info"><a href="https://rationalwiki.org/w/index.php?title=Template:Conspiracynav&amp;action=info" title="More information about this page">Page information</a></li>					</ul>
							</div>
		</div>
				</div>
		</div>
		<div id="footer" role="contentinfo">
							<ul id="footer-info">
											<li id="footer-info-lastmod"> This page was last modified on 3 April 2019, at 19:51.</li>
											<li id="footer-info-copyright">Unless explicitly noted otherwise, all content licensed as indicated by <a name="Copyright" href="https://rationalwiki.org/wiki/RationalWiki:Copyrights">RationalWiki:Copyrights</a>. <br> For concerns on copyright infringement please see: <a name="Copyright infringement" href="https://rationalwiki.org/wiki/RationalWiki:Copyright_violations">RationalWiki:Copyright violations</a></li>
									</ul>
							<ul id="footer-places">
											<li id="footer-places-privacy"><a href="https://rationalwiki.org/wiki/RationalWiki:Privacy_policy" title="RationalWiki:Privacy policy">Privacy policy</a></li>
											<li id="footer-places-about"><a href="https://rationalwiki.org/wiki/RationalWiki:About" title="RationalWiki:About">About RationalWiki</a></li>
											<li id="footer-places-disclaimer"><a href="https://rationalwiki.org/wiki/RationalWiki:General_disclaimer" title="RationalWiki:General disclaimer">Disclaimers</a></li>
									</ul>
										<ul id="footer-icons" class="noprint">
											<li id="footer-copyrightico">
							<a href="../../creativecommons.org/licenses/by-sa/3.0/index.html"><img src="https://rationalwiki.org/w/88x31.png" alt="CC-BY-SA 3.0, or any later version" width="88" height="31"/></a>						</li>
											<li id="footer-poweredbyico">
							<a href="https://www.mediawiki.org/"><img src="https://rationalwiki.org/w/resources/assets/poweredby_mediawiki_88x31.png" alt="Powered by MediaWiki" srcset="https://rationalwiki.org/w/resources/assets/poweredby_mediawiki_132x47.png 1.5x, https://rationalwiki.org/w/resources/assets/poweredby_mediawiki_176x62.png 2x" width="88" height="31"/></a>						</li>
									</ul>
						<div style="clear:both"></div>
		</div>
		<script>(window.RLQ=window.RLQ||[]).push(function(){mw.loader.state({"user":"ready","user.groups":"ready"});mw.loader.load(["mediawiki.action.view.postEdit","site","mediawiki.user","mediawiki.hidpi","mediawiki.page.ready","mediawiki.searchSuggest","ext.gadget.ReferenceTooltips"]);});</script><script>(window.RLQ=window.RLQ||[]).push(function(){mw.config.set({"wgBackendResponseTime":46,"wgHostname":"apache4"});});</script>
	</body>
</html>
