<!DOCTYPE html>
<html lang="en" dir="ltr" class="client-nojs">
<head>
<meta charset="UTF-8"/>
<title>Template:Psychic - RationalWiki</title>
<script>document.documentElement.className = document.documentElement.className.replace( /(^|\s)client-nojs(\s|$)/, "$1client-js$2" );</script>
<script>(window.RLQ=window.RLQ||[]).push(function(){mw.config.set({"wgCanonicalNamespace":"Template","wgCanonicalSpecialPageName":false,"wgNamespaceNumber":10,"wgPageName":"Template:Psychic","wgTitle":"Psychic","wgCurRevisionId":1839589,"wgRevisionId":1839589,"wgArticleId":101970,"wgIsArticle":true,"wgIsRedirect":false,"wgAction":"view","wgUserName":null,"wgUserGroups":["*"],"wgCategories":["Sidebar navigation templates"],"wgBreakFrames":false,"wgPageContentLanguage":"en","wgPageContentModel":"wikitext","wgSeparatorTransformTable":["",""],"wgDigitTransformTable":["",""],"wgDefaultDateFormat":"dmy","wgMonthNames":["","January","February","March","April","May","June","July","August","September","October","November","December"],"wgMonthNamesShort":["","Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"],"wgRelevantPageName":"Template:Psychic","wgRelevantArticleId":101970,"wgRequestId":"0ad0f538f24f714b5b8362c3","wgIsProbablyEditable":false,"wgRestrictionEdit":[],"wgRestrictionMove":[],"wgWikiEditorEnabledModules":{"toolbar":true,"dialogs":true,"preview":false,"publish":false}});mw.loader.implement("user.options",function($,jQuery,require,module){mw.user.options.set({"variant":"en"});});mw.loader.implement("user.tokens",function ( $, jQuery, require, module ) {
mw.user.tokens.set({"editToken":"+\\","patrolToken":"+\\","watchToken":"+\\","csrfToken":"+\\"});/*@nomin*/;

});mw.loader.load(["mediawiki.page.startup","skins.vector.js"]);});</script>
<link rel="stylesheet" href="https://rationalwiki.org/w/load.php?debug=false&amp;lang=en&amp;modules=ext.gadget.ReferenceTooltips%7Cmediawiki.legacy.commonPrint%2Cshared%7Cmediawiki.sectionAnchor%7Cmediawiki.skinning.interface%7Cskins.vector.styles&amp;only=styles&amp;skin=vector"/>
<meta name="ResourceLoaderDynamicStyles" content=""/>
<link rel="stylesheet" href="https://rationalwiki.org/w/load.php?debug=false&amp;lang=en&amp;modules=site&amp;only=styles&amp;skin=vector"/>
<script async="" src="https://rationalwiki.org/w/load.php?debug=false&amp;lang=en&amp;modules=startup&amp;only=scripts&amp;skin=vector"></script>
<meta name="generator" content="MediaWiki 1.27.7"/>
<link rel="shortcut icon" href="https://rationalwiki.org/favicon.ico"/>
<link rel="search" type="application/opensearchdescription+xml" href="https://rationalwiki.org/w/opensearch_desc.php" title="RationalWiki (en)"/>
<link rel="EditURI" type="application/rsd+xml" href="https://rationalwiki.org/w/api.php?action=rsd"/>
<link rel="copyright" href="https://rationalwiki.org/wiki/RationalWiki:Copyrights"/>
<link rel="alternate" type="application/atom+xml" title="RationalWiki Atom feed" href="https://rationalwiki.org/w/index.php?title=Special:RecentChanges&amp;feed=atom"/>
</head>
<body class="mediawiki ltr sitedir-ltr ns-10 ns-subject page-Template_Psychic rootpage-Template_Psychic skin-vector action-view">
		<div id="mw-page-base" class="noprint"></div>
		<div id="mw-head-base" class="noprint"></div>
		<div id="content" class="mw-body" role="main">
			<a id="top"></a>

						<div class="mw-indicators">
</div>
			<h1 id="firstHeading" class="firstHeading" lang="en">Template:Psychic</h1>
									<div id="bodyContent" class="mw-body-content">
									<div id="siteSub">From RationalWiki</div>
								<div id="contentSub"></div>
												<div id="jump-to-nav" class="mw-jump">
					Jump to:					<a href="Template%253APsychic.html#mw-head">navigation</a>, 					<a href="Template%253APsychic.html#p-search">search</a>
				</div>
				<div id="mw-content-text" lang="en" dir="ltr" class="mw-content-ltr"><table class="infobox" cellpadding="1" cellspacing="0" style="float: right; margin: 0 0 0.5em 0.5em; text-align:left; border: 1px solid #3d2367; width:175px;">
<tr>
<td style="font-size: 95%; text-align:center; color:White; background-color:#3d2367"> <b>Putting the psycho in</b><br /><a href="Parapsychology.html" title="Parapsychology"><font size="4" color="White"><b>Parapsychology</b></font></a>
</td></tr>
<tr>
<td style="background-color:#cbb4ef;" align="center"><a href="https://rationalwiki.org/wiki/File:Icon_psychic.svg" class="image" title="link=:category:{{{category}}}"><img alt="link=:category:{{{category}}}" src="https://rationalwiki.org/w/images/thumb/e/e0/Icon_psychic.svg/100px-Icon_psychic.svg.png" width="100" height="100" srcset="https://rationalwiki.org/w/images/thumb/e/e0/Icon_psychic.svg/150px-Icon_psychic.svg.png 1.5x, https://rationalwiki.org/w/images/thumb/e/e0/Icon_psychic.svg/200px-Icon_psychic.svg.png 2x" /></a>
</td></tr>

<tr>
<td style="font-size: 95%; color:White; background-color:#3d2367; text-align:center;"><b>Men who stare at goats</b>
</td></tr>
<tr>
<td style="font-size: 95%; background-color:#cbb4ef;">
<ul><li><a href="Gary_Schwartz.html" title="Gary Schwartz">Gary Schwartz</a></li>
<li><a href="https://rationalwiki.org/wiki/Kai_Muegge" title="Kai Muegge">Kai Muegge</a></li>
<li><a href="https://rationalwiki.org/wiki/Kathleen_Goligher" title="Kathleen Goligher">Kathleen Goligher</a></li>
<li><a href="https://rationalwiki.org/wiki/Sn%C3%A5samannen" title="Snåsamannen">Snåsamannen</a></li></ul>
</td></tr>
<tr>
<td style="font-size: 95%; color:white; background-color:#3d2367; text-align:center;"><b>By the powers of tinfoil</b>
</td></tr>
<tr>
<td style="font-size: 95%; background-color:#cbb4ef;">
<ul><li><a href="https://rationalwiki.org/wiki/Animal_communicator" title="Animal communicator">Animal communicator</a></li>
<li><a href="Channelling.html" title="Channelling">Channelling</a></li>
<li><a href="https://rationalwiki.org/wiki/Clairvoyance" title="Clairvoyance">Clairvoyance</a></li>
<li><a href="Spirit_guide.html" title="Spirit guide">Spirit guide</a></li></ul>
<ul><li> <a href="https://rationalwiki.org/wiki/Electromagnetic_hypersensitivity" title="Electromagnetic hypersensitivity">Electromagnetic hypersensitivity</a></li>
<li> <a href="https://rationalwiki.org/wiki/GWEN_towers" title="GWEN towers">GWEN towers</a></li>
<li> <a href="https://rationalwiki.org/wiki/Hans_Bender" title="Hans Bender">Hans Bender</a></li>
<li> <a href="https://rationalwiki.org/wiki/Project_Stargate" title="Project Stargate">Project Stargate</a></li>
<li> <a href="https://rationalwiki.org/wiki/Rumpology" title="Rumpology">Rumpology</a></li></ul>
<div class="vte plainlinks" style="font-size:smaller; text-align:center;"><strong class="selflink">v</strong> - <a href="Template_talk%253APsychic.html" title="Template talk:Psychic">t</a> - <a rel="nofollow" class="external text" href="../w/index.php@title=Template%253APsychic&amp;action=edit.html">e</a></div>
</td></tr></table>

<!-- 
NewPP limit report
Parsed by apache4
Cached time: 20200522230455
Cache expiry: 86400
Dynamic content: false
CPU time usage: 0.020 seconds
Real time usage: 0.032 seconds
Preprocessor visited node count: 142/1000000
Preprocessor generated node count: 836/1000000
Post‐expand include size: 2813/2097152 bytes
Template argument size: 1215/2097152 bytes
Highest expansion depth: 6/40
Expensive parser function count: 0/100
-->

<!-- 
Transclusion expansion time report (%,ms,calls,template)
100.00%   21.791      1 - Template:Navsidebar
100.00%   21.791      1 - -total
 42.05%    9.164      1 - Template:Navsidebar2
 37.74%    8.225      2 - Template:Randomarticles
 12.10%    2.637      1 - Template:Vte
  5.66%    1.234      3 - Template:Extension_DPL
-->

<!-- Saved in parser cache with key rationalwiki:pcache:idhash:101970-0!*!*!*!*!*!* and timestamp 20200522230455 and revision id 1839589
 -->
</div>					<div class="printfooter">
						Retrieved from "<a dir="ltr" href="https://rationalwiki.org/w/index.php?title=Template:Psychic&amp;oldid=1839589">https://rationalwiki.org/w/index.php?title=Template:Psychic&amp;oldid=1839589</a>"					</div>
				<div id="catlinks" class="catlinks" data-mw="interface"><div id="mw-normal-catlinks" class="mw-normal-catlinks"><a href="https://rationalwiki.org/wiki/Special:Categories" title="Special:Categories">Category</a>: <ul><li><a href="https://rationalwiki.org/wiki/Category:Sidebar_navigation_templates" title="Category:Sidebar navigation templates">Sidebar navigation templates</a></li></ul></div></div>				<div class="visualClear"></div>
							</div>
		</div>
		<div id="mw-navigation">
			<h2>Navigation menu</h2>

			<div id="mw-head">
									<div id="p-personal" role="navigation" class="" aria-labelledby="p-personal-label">
						<h3 id="p-personal-label">Personal tools</h3>
						<ul>
							<li id="pt-anonuserpage">Not logged in</li><li id="pt-anontalk"><a href="https://rationalwiki.org/wiki/Special:MyTalk" title="Discussion about edits from this IP address [n]" accesskey="n">Talk</a></li><li id="pt-anoncontribs"><a href="https://rationalwiki.org/wiki/Special:MyContributions" title="A list of edits made from this IP address [y]" accesskey="y">Contributions</a></li><li id="pt-createaccount"><a href="https://rationalwiki.org/w/index.php?title=Special:CreateAccount&amp;returnto=Template%3APsychic" title="You are encouraged to create an account and log in; however, it is not mandatory">Create account</a></li><li id="pt-login"><a href="https://rationalwiki.org/w/index.php?title=Special:UserLogin&amp;returnto=Template%3APsychic" title="You are encouraged to log in; however, it is not mandatory [o]" accesskey="o">Log in</a></li>						</ul>
					</div>
									<div id="left-navigation">
										<div id="p-namespaces" role="navigation" class="vectorTabs" aria-labelledby="p-namespaces-label">
						<h3 id="p-namespaces-label">Namespaces</h3>
						<ul>
															<li  id="ca-nstab-template" class="selected"><span><a href="Template%253APsychic.html"  title="View the template [c]" accesskey="c">Template</a></span></li>
															<li  id="ca-talk"><span><a href="Template_talk%253APsychic.html"  title="Discussion about the content page [t]" accesskey="t" rel="discussion">Talk</a></span></li>
													</ul>
					</div>
										<div id="p-variants" role="navigation" class="vectorMenu emptyPortlet" aria-labelledby="p-variants-label">
												<h3 id="p-variants-label">
							<span>Variants</span><a href="Template%253APsychic.html#"></a>
						</h3>

						<div class="menu">
							<ul>
															</ul>
						</div>
					</div>
									</div>
				<div id="right-navigation">
										<div id="p-views" role="navigation" class="vectorTabs" aria-labelledby="p-views-label">
						<h3 id="p-views-label">Views</h3>
						<ul>
															<li id="ca-view" class="selected"><span><a href="Template%253APsychic.html" >Read</a></span></li>
															<li id="ca-viewsource"><span><a href="../w/index.php@title=Template%253APsychic&amp;action=edit.html"  title="This page is protected.&#10;You can view its source [e]" accesskey="e">View source</a></span></li>
															<li id="ca-history" class="collapsible"><span><a href="https://rationalwiki.org/w/index.php?title=Template:Psychic&amp;action=history"  title="Past revisions of this page [h]" accesskey="h">Fossil record</a></span></li>
													</ul>
					</div>
										<div id="p-cactions" role="navigation" class="vectorMenu emptyPortlet" aria-labelledby="p-cactions-label">
						<h3 id="p-cactions-label"><span>More</span><a href="Template%253APsychic.html#"></a></h3>

						<div class="menu">
							<ul>
															</ul>
						</div>
					</div>
										<div id="p-search" role="search">
						<h3>
							<label for="searchInput">Search</label>
						</h3>

						<form action="https://rationalwiki.org/w/index.php" id="searchform">
							<div id="simpleSearch">
							<input type="search" name="search" placeholder="Search" title="Search RationalWiki [f]" accesskey="f" id="searchInput"/><input type="hidden" value="Special:Search" name="title"/><input type="submit" name="fulltext" value="Search" title="Search the pages for this text" id="mw-searchButton" class="searchButton mw-fallbackSearchButton"/><input type="submit" name="go" value="Go" title="Go to a page with this exact name if it exists" id="searchButton" class="searchButton"/>							</div>
						</form>
					</div>
									</div>
			</div>
			<div id="mw-panel">
				<div id="p-logo" role="banner"><a class="mw-wiki-logo" href="https://rationalwiki.org/wiki/Main_Page"  title="Visit the main page"></a></div>
						<div class="portal" role="navigation" id='p-navigation' aria-labelledby='p-navigation-label'>
			<h3 id='p-navigation-label'>Navigation</h3>

			<div class="body">
									<ul>
						<li id="n-mainpage-description"><a href="https://rationalwiki.org/wiki/Main_Page" title="Visit the main page [z]" accesskey="z">Main page</a></li><li id="n-recentchanges"><a href="https://rationalwiki.org/wiki/Special:RecentChanges" title="A list of recent changes in the wiki [r]" accesskey="r">Recent changes</a></li><li id="n-randompage"><a href="https://rationalwiki.org/wiki/Special:Random" title="Load a random mainspace article [x]" accesskey="x">Random page</a></li><li id="n-New-pages"><a href="https://rationalwiki.org/wiki/Special:NewPages">New pages</a></li><li id="n-All-logs"><a href="https://rationalwiki.org/wiki/Special:Log">All logs</a></li><li id="n-help"><a href="https://rationalwiki.org/wiki/Help:Contents" title="RTFM">Help</a></li>					</ul>
							</div>
		</div>
			<div class="portal" role="navigation" id='p-support' aria-labelledby='p-support-label'>
			<h3 id='p-support-label'>Support</h3>

			<div class="body">
									<ul>
						<li id="n-Donate"><a href="https://rationalwiki.org/wiki/RationalWiki:Site_support">Donate</a></li>					</ul>
							</div>
		</div>
			<div class="portal" role="navigation" id='p-community' aria-labelledby='p-community-label'>
			<h3 id='p-community-label'>Community</h3>

			<div class="body">
									<ul>
						<li id="n-Saloon-bar"><a href="https://rationalwiki.org/wiki/RationalWiki:Saloon_bar">Saloon bar</a></li><li id="n-To-do-list"><a href="https://rationalwiki.org/wiki/RationalWiki:To_do_list">To do list</a></li><li id="n-What-is-going-on.3F"><a href="https://rationalwiki.org/wiki/WIGO">What is going on?</a></li><li id="n-Best-of-RationalWiki"><a href="https://rationalwiki.org/wiki/RationalWiki:Contents">Best of RationalWiki</a></li><li id="n-About-RationalWiki"><a href="https://rationalwiki.org/wiki/RationalWiki">About RationalWiki</a></li><li id="n-Technical-support"><a href="https://rationalwiki.org/wiki/RationalWiki:Technical_support">Technical support</a></li><li id="n-Mod-noticeboard"><a href="https://rationalwiki.org/wiki/RationalWiki_talk:All_things_in_moderation">Mod noticeboard</a></li>					</ul>
							</div>
		</div>
			<div class="portal" role="navigation" id='p-Social_media' aria-labelledby='p-Social_media-label'>
			<h3 id='p-Social_media-label'>Social media</h3>

			<div class="body">
									<ul>
						<li id="n-Twitter"><a href="https://twitter.com/RationalWiki" rel="nofollow">Twitter</a></li><li id="n-Facebook"><a href="https://www.facebook.com/pages/Rationalwiki/226614404019306" rel="nofollow">Facebook</a></li><li id="n-Discord"><a href="https://rationalwiki.org/wiki/RationalWiki:Discord">Discord</a></li><li id="n-Reddit"><a href="https://rationalwiki.org/wiki/RationalWiki:Reddit">Reddit</a></li>					</ul>
							</div>
		</div>
			<div class="portal" role="navigation" id='p-tb' aria-labelledby='p-tb-label'>
			<h3 id='p-tb-label'>Tools</h3>

			<div class="body">
									<ul>
						<li id="t-whatlinkshere"><a href="https://rationalwiki.org/wiki/Special:WhatLinksHere/Template:Psychic" title="A list of all wiki pages that link here [j]" accesskey="j">What links here</a></li><li id="t-recentchangeslinked"><a href="https://rationalwiki.org/wiki/Special:RecentChangesLinked/Template:Psychic" title="Recent changes in pages linked from this page [k]" accesskey="k">Related changes</a></li><li id="t-specialpages"><a href="https://rationalwiki.org/wiki/Special:SpecialPages" title="A list of all special pages [q]" accesskey="q">Special pages</a></li><li id="t-print"><a href="https://rationalwiki.org/w/index.php?title=Template:Psychic&amp;printable=yes" rel="alternate" title="Printable version of this page [p]" accesskey="p">Printable version</a></li><li id="t-permalink"><a href="https://rationalwiki.org/w/index.php?title=Template:Psychic&amp;oldid=1839589" title="Permanent link to this revision of the page">Permanent link</a></li><li id="t-info"><a href="https://rationalwiki.org/w/index.php?title=Template:Psychic&amp;action=info" title="More information about this page">Page information</a></li>					</ul>
							</div>
		</div>
				</div>
		</div>
		<div id="footer" role="contentinfo">
							<ul id="footer-info">
											<li id="footer-info-lastmod"> This page was last modified on 30 June 2017, at 12:26.</li>
											<li id="footer-info-copyright">Unless explicitly noted otherwise, all content licensed as indicated by <a name="Copyright" href="https://rationalwiki.org/wiki/RationalWiki:Copyrights">RationalWiki:Copyrights</a>. <br> For concerns on copyright infringement please see: <a name="Copyright infringement" href="https://rationalwiki.org/wiki/RationalWiki:Copyright_violations">RationalWiki:Copyright violations</a></li>
									</ul>
							<ul id="footer-places">
											<li id="footer-places-privacy"><a href="https://rationalwiki.org/wiki/RationalWiki:Privacy_policy" title="RationalWiki:Privacy policy">Privacy policy</a></li>
											<li id="footer-places-about"><a href="https://rationalwiki.org/wiki/RationalWiki:About" title="RationalWiki:About">About RationalWiki</a></li>
											<li id="footer-places-disclaimer"><a href="https://rationalwiki.org/wiki/RationalWiki:General_disclaimer" title="RationalWiki:General disclaimer">Disclaimers</a></li>
									</ul>
										<ul id="footer-icons" class="noprint">
											<li id="footer-copyrightico">
							<a href="../../creativecommons.org/licenses/by-sa/3.0/index.html"><img src="https://rationalwiki.org/w/88x31.png" alt="CC-BY-SA 3.0, or any later version" width="88" height="31"/></a>						</li>
											<li id="footer-poweredbyico">
							<a href="https://www.mediawiki.org/"><img src="https://rationalwiki.org/w/resources/assets/poweredby_mediawiki_88x31.png" alt="Powered by MediaWiki" srcset="https://rationalwiki.org/w/resources/assets/poweredby_mediawiki_132x47.png 1.5x, https://rationalwiki.org/w/resources/assets/poweredby_mediawiki_176x62.png 2x" width="88" height="31"/></a>						</li>
									</ul>
						<div style="clear:both"></div>
		</div>
		<script>(window.RLQ=window.RLQ||[]).push(function(){mw.loader.state({"user":"ready","user.groups":"ready"});mw.loader.load(["mediawiki.action.view.postEdit","site","mediawiki.user","mediawiki.hidpi","mediawiki.page.ready","mediawiki.searchSuggest","ext.gadget.ReferenceTooltips"]);});</script><script>(window.RLQ=window.RLQ||[]).push(function(){mw.config.set({"wgBackendResponseTime":42,"wgHostname":"apache4"});});</script>
	</body>
</html>
