div.announcement_text { background:#F9EDBE; text-align:center; border:1px; solid #F0C36D; }
p.announcement_text { margin:0 12px; line-height:29px; font-size:12px; }

div.ngrams_query_section {
  float:left;
  margin-left:4px;
  width: 100%;
  height: 103px;
  white-space: nowrap;
  position: relative;
}

form#query { margin-bottom:0; }

div.query_graphthese_line {
  margin:6px;
  white-space: nowrap;
  width: 100%;
  min-width: 1000px;
  height: 29px;
  position: absolute;
  top: 5px;
  left: 0px;
}

div.graph_instruction {
  width:240px;
  height: 29px;
  position: absolute;
  top: 0px;
  left: 0px;
  text-align: left;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

div.input_qm_checkbox {
  display: inline;
  margin: 1px;
  height: 29px;
  whitespace: nowrap;
  position: absolute;
  top: -6px;
  left: 242px;
}

div.query_dcs_line {
  margin: 6px;
  position: absolute;
  top: 38px;
}

div.query_submit_line {
  margin:6px;
  position: absolute;
  top:74px;
}

div.social_media_section {
  position: absolute;
  padding:12px;
  left:90%;
}

div.custom_tweet_button {
    display: block;
    width: 30px;
    padding: 2px 5px 2px 22px;
    background: url('twitter.png') 1px center no-repeat;
    background-size: 18px 12px;
    border: 1px solid #ccc;
}
div.custom_tweet_button .label {
    color: #444;
    font-size: 75%;
    font-weight: bold;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    text-decoration: none;
    user-select: none;
    cursor: pointer;
    overflow: hidden;
}

textarea {
  width: 100%;
  rows: 5;
  border: 1px dashed;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  font-size: 9pt;
  font-family: Arial, sans-serif;
}

div.ngrams_chart_section {
  margin-left:auto;
  margin-right:auto;
}

div#about { border-top: 1px solid #ccc; padding-top: 10px; }
center#datasets-announcement { padding: 30px 0px 10px; }
#warning_area {
  cursor: pointer;
  background:#F9EDBE;
  text-align:center;
  border:1px solid #F0C36D
}
#warnings {
  margin-bottom:12;
  margin-left:12;
  margin-right:12;
  margin-top:12;
  line-height:29px;
  font-size:12px;
}

/* D3 Chart styles */
text.label { fill: #444444; font-family: Arial, sans-serif; font-size: 15px; }
.axis text { fill: #444444; font-family: Arial, sans-serif; font-size: 15px; }
.axis path,.axis line {
  fill: none;
  stroke: #444444;
  stroke-width: 2px;
  shape-rendering: crispEdges;
}
.tips { fill: #444444; font-family: Arial, sans-serif; font-size: 11px; }
.grid .tick { stroke: #cccccc; opacity: 0.7; }
.grid line { stroke: #cccccc; opacity: 0.7; }
.grid path { stroke-width: 0; }
path.invisible { fill: none; stroke: rgba(0,0,0,0); stroke-width: 15px; }
.line {
  fill: none;
  stroke-width: 2px;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.tooltip_rect {
  fill: #FFFFFF;
  stroke: rgba(218, 216, 216, 1);
  stroke-width: 1px;
  shape-rendering: crispEdges;
}

* html a:hover { background: transparent; }

/* Style for a strong warning in the info page. */
.info_warning {
  background-color: #fcc;
  padding: 6px 8px 6px 10px;
  border-left: 6px solid #a03;
}

/* Style for submit buttons. Adapted from kd_components.css.*/
input.kd_submit {
  background-color: rgb(77, 144, 254);
  background-image: -webkit-gradient(linear,left top,left bottom,from(#4d90fe),to(#4787ed));
  background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
  background-image: -moz-linear-gradient(top,#4d90fe,#4787ed);
  background-image: -ms-linear-gradient(top,#4d90fe,#4787ed);
  background-image: -o-linear-gradient(top,#4d90fe,#4787ed);
  background-image: linear-gradient(top,#4d90fe,#4787ed);
  border-bottom-color: rgb(48, 121, 237);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-image-outset: 0px;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(48, 121, 237);
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: rgb(48, 121, 237);
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: rgb(48, 121, 237);
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-top-style: solid;
  border-top-width: 1px;
  color: rgb(255, 255, 255);
  cursor: default;
  display: inline-block;
  font-family: Arial, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: bold;
  height: 27px;
  line-height: 27px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  outline-color: rgb(255, 255, 255);
  outline-style: none;
  outline-width: 0px;
  padding-bottom: 0px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 0px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition-delay: 0s;
  transition-duration: 0.218s;
  transition-property: all;
  transition-timing-function: ease;
  vertical-align: baseline;
  z-index: 1;
  border-color: #3079ed;
  background-color: #4d90fe
}

input.kd_submit:hover {
  border-color: #29691d;
  background-color: #3d9400;
  border-color: #2f5bb7;
  background-color: #357ae8;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#4d90fe),to(#357ae8));
  background-image: -webkit-linear-gradient(top,#4d90fe,#357ae8);
  background-image: -moz-linear-gradient(top,#4d90fe,#357ae8);
  background-image: -ms-linear-gradient(top,#4d90fe,#357ae8);
  background-image: -o-linear-gradient(top,#4d90fe,#357ae8);
  background-image: linear-gradient(top,#4d90fe,#357ae8);
}

input.kd_submit:focus, input.kd_submit.focus {
  -webkit-box-shadow: rgba(255, 255, 255, 0.498039) 0px 0px 0px 1px inset;
  -webkit-transition-delay: 0s;
  -webkit-transition-duration: 0.218s;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease;
  -webkit-user-select: none;
  border-bottom-color: rgb(77, 144, 254);
  border-left-color: rgb(77, 144, 254);
  border-right-color: rgb(77, 144, 254);
  border-top-color: rgb(77, 144, 254);
  box-shadow: rgba(255, 255, 255, 0.498039) 0px 0px 0px 1px inset;
  z-index: 4;
}

/* Style for input boxes. Adapted from kd_components.css.*/
input.query {
  -webkit-appearance: none;
  -webkit-rtl-ordering: logical;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: text;
  -webkit-writing-mode: horizontal-tb;
  background-color: rgb(255, 255, 255);
  border-bottom-color: rgb(217, 217, 217);
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(217, 217, 217);
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: rgb(217, 217, 217);
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: rgb(192, 192, 192);
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  border-top-style: solid;
  border-top-width: 1px;
  box-sizing: border-box;
  color: rgb(0, 0, 0);
  cursor: auto;
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  font-family: Arial, sans-serif;
  font-size: 13px;
  height: 29px;
  letter-spacing: normal;
  line-height: 27px;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  padding-bottom: 1px;
  padding-left: 8px;
  padding-top: 1px;
  text-align: start;
  vertical-align: middle;
  writing-mode: lr-tb;
  z-index: 1000;
  width: 422px;
}

input.query:hover, input.query.hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -webkit-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);
  -moz-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);
}

input.query:focus, input.query.focus {
  -webkit-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.3);
  -moz-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.3);
  box-shadow: inset 0px 1px 2px rgba(0,0,0,0.3);
  outline: none;
  border: 1px solid #4d90fe;
}

input.query#year {
 width: 50px;
}

/* Style for a checkbox. Adapted from kd_components.css.*/
input.checkbox {
   -webkit-appearance: none;
   width: 13px;
   height: 13px;
   border: 1px solid #C6C6C6;
   margin:0;
   -webkit-border-radius:1px;
   -moz-border-radius:1px;
   border-radius:1px;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   cursor:default;
   position:relative;
}

input.checkbox:active, input.checkbox.active {
  border-color:#666;
  background:#ebebeb;
}

input.checkbox:hover, input.checkbox.hover{
  border-color:#666;
  -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.1);
  -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.1);
  box-shadow: inset 0px 1px 1px rgba(0,0,0,0.1);
}

input.checkbox:checked::after {
  content:url('/ngrams/check_no_box.png');
  display:block;
  position:absolute;
  top:-6px;
  left:-5px;
}

input.checkbox:focus, input.checkbox.focus {
  outline: none;
  border-color:#4d90fe;
}

/* Style for the question mark in the search box.*/
a.options {
  color: rgb(0, 0, 0);
  font-family: Arial, sans-serif;
  position: absolute;
  left: 392px;
  bottom: 1px;
  width: 12px;
  height: 12px;
  background-color: white;
  display: inline;
  padding-top: 0px;
  background-image: url('/ngrams/light-grey-disclosure-arrow-down.png');
  background-repeat: no-repeat;
  border-color: white;
  border-style: solid;
  border-top-width: 6px;
  border-bottom-width: 2px;
  border-right-width: 2px;
  z-index: 99;
  display:inline-block;
  margin-left: 10;
  border-radius: 5px 5px;
}

a.options:hover {
 background-image: url('/ngrams/dark-grey-disclosure-arrow-down.png');
}

/* Style for bubbles. Adapted from kd_components.css.*/
div.bubble {
  position: absolute;
  background: #FFF;
  outline: 1px solid rgba(0,0,0,0.0);
  padding: 10px;
  width: 330px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  left: 382px;
  top: 30px;
  z-index: 102;
  display: inline-block;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 4px 16px rgba(0,0,0,0.2);
}

div.bubble#share_url {
  position: absolute;
  top: 100px;
  left: -300px;
}

div.bubble .pointer {
  outline: none;
  display: block;
  position: absolute;
  top: -11px;
  left: 24px;
  margin: 0 0 0 -5px;
  width: 17px;
  height: 11px;
  background: url('/ngrams/bubble_point_white.png');
  z-index: 102;
}

div.bubble p {
  margin-bottom: 0;
  color: #666;
}

div.bubble p.links {
  margin-top: 10px;
}

/* Style for black help tip. Adapted from kd_components.css.*/
div.tip {
  position: absolute;
  background: #FFF;
  outline: 1px solid rgba(0,0,0,0.2);
  -webkit-box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  left: 406px;
  top: 30px;
  z-index: 100;
  display: inline-block;
  background: #2d2d2d;
  color: #FFF;
  font-weight: bold;
  text-align: center;
  outline: 1px solid rgba(255,255,255,0.5);
  line-height: 29px;
  margin-left: -20px;
  padding: 0 10px;
  font-size: 11px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -webkit-box-shadow: 0px 1px 4px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 1px 4px rgba(0,0,0,0.2);
  box-shadow: 1px 2px 4px rgba(0,0,0,0.2);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: opacity 0.13s;
  -moz-transition: opacity 0.13s;
  -o-transition: opacity 0.13s;
  transition: opacity 0.13s;
}

div.tip .pointer {
    outline: none;
    display: block;
    position: absolute;
    top: -5px;
    left: 24px;
    margin: 0 0 0 -5px;
    width: 0;
    height: 0;
    line-height: 0px;
    font-size: 0px;
    /* This sets the tooptip pointer color */
    border-top: transparent;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #2d2d2d;
}

div.tip.visible {
    opacity: 1.0;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
